.navbar {
    background-color: transparent;
    background-color: rgba(0,0,0,0.5);
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar .navbar-brand {
    color: #d114dd;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #61dfdf;
  }
  .navbar .navbar-text {
    color: #d114dd;
  }
  .navbar .navbar-text a {
    color: #61dfdf;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #61dfdf; 
  }
  .navbar .navbar-nav .nav-link {
    color: #d114dd;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #61dfdf;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #292929;
    border-color: #6f0a8e;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #d114dd;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #61dfdf;
    background-color: #6f0a8e;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #6f0a8e;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #61dfdf;
    background-color: #6f0a8e;
  }
  .navbar .navbar-toggler {
    border-color: #6f0a8e;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #6f0a8e;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #d114dd;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #d114dd;
  }
  .navbar .navbar-link {
    color: #d114dd;
  }
  .navbar .navbar-link:hover {
    color: #61dfdf;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d114dd;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #61dfdf;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #61dfdf;
      background-color: #6f0a8e;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d114dd;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #61dfdf;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #61dfdf;
      background-color: #6f0a8e;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d114dd;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #61dfdf;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #61dfdf;
      background-color: #6f0a8e;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d114dd;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #61dfdf;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #61dfdf;
      background-color: #6f0a8e;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d114dd;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #61dfdf;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #61dfdf;
    background-color: #6f0a8e;
  }